 .above-header{
  height: 80px;
 }
nav ul a,
nav .brand-logo {
  color: #444;
  
}
#mycarasoul{ 
  height: 200px;
  overflow: visible; 
}
.mainaboutus{
  padding-top: 20vh !important;
}
@media only screen and (max-width: 500px) {
  #mycarasoul{ 
    height: 200px;
    overflow: visible;  
  }
  .materialboxed.active{
    width:330px !important;
    height:300px !important;
    top:-80px !important;
    left:-10px !important;
  }
  .lessMargin{
    margin: 0px;
  }
}
#projectCards{
  margin-top: 18vh;
}
.who-we-are {
  line-height: 2rem;
  font-size: large;
  padding:5px;
  text-align: justify;
  text-justify: inter-word;
}
h2 {
  font-family: 'Alata', sans-serif;
}
.formRow{
  border:5px solid #03b891;  
   margin-top:10px; 
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    height:100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.profile-details{
  margin : 0px; 

}
.aboutus-justify{
  text-align: justify;
  text-justify: inter-word;
}
